<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="icon" href="../../Assets/Icon/icon.ico" />
    <title>Patients Dashboard</title>
 
  </head>
  <body>
    <nav
    class="navbar navbar-expand-sm navbar-dark bg-dark"
    style="
      background: #000046; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to left,
        #1cb5e0,
        #000046
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to left,
        #1cb5e0,
        #000046
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    "
  >
    <a class="navbar-brand" href="#">
      <img src="../.././Assets/Icon/icons8_clinic_24px.png" alt="" position:
      absolute;"></a
    >
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="../../index.html">Home</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="../About us.html">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Contact us.html">Contact US</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="../register.html">Register </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../login.html">Login</a>
        </li>
      </ul>
    </div>
  </nav>

    <section style="margin: 10rem 0;  
    ">
        <div style="width: 30vw; height: fit-content;">
         
            <p class="d-inline mr-5">Patients Dashboard</p>
            <img src="../../Assets/Icon/patient.png" alt="patient pic../" />
            <h4>
             Medical Record
            </h4>
            <a href="#">Inspact Record</a>
  
            <h4>
              Check Prescription
            </h4>
            <a href="#">Show Details</a>
            
            <ul>
              <li class="d-block">John</li>
              <li class="d-block">Doe</li>
              <li class="d-block">Tonny</li>
              <li class="d-block">Jimmy</li>
              <li class="d-block">Astra</li>
            </ul>
          </div>
        
        <div style="width: 30vw; ">
          <h4>
           Edit Info
          </h4>
  
          <a class="d-block" href="#">Edit</a>
          <a class="d-block" href="#">Update</a>
  
          <h4>
            Set Appointment
          </h4>
  
          <a class="d-block" href="#">See Medical services</a>
          <a class="d-block" href="#">Check available of dcotors</a>
          <a class="d-block" href="#">Make appoinments</a>
          <a class="d-block" href="#">Pay Dues</a>
         
        </div>
        <div style="width: 25vw;">
            <h4>
               Check Appointment approval
               </h4>
       
               <a class="d-block" href="#">Apointment status</a>
               <a class="d-block" href="#">Doctor details</a>
       
               <h4>
                 Set Appointment
               </h4>
       
               <a class="d-block" href="#">Check  Medical suggestion</a>
               <a class="d-block" href="#">Check your payment details</a>
               <a class="d-block" href="#">Pay using Debt/credit Card</a>
               <a class="d-block" href="#">Read more</a>
        </div>
    </section>
  

    <footer class="p-5">
      <div class="row mt-5">
    <div class="col-12 col-md-4">
      <h4 class="text-center">Quick Links</h4>
    <a name="" id="" class=" d-block text-decoration-none my-3 text-center" href="../../index.html" >Home</a>
    <a name="" id="" class=" d-block text-decoration-none my-3 text-center" href="../Contact us.html" >Contact Us
    </a>
    <a name="" id="" class=" d-block text-decoration-none my-3 text-center" href="../About us.html" >ABout US
    </a>
    <a name="" id="" class=" d-block text-decoration-none my-3 text-center" href="../../index.html"  >More Details</a>
        </div>
        <div class="col-12 col-md-4">
          <h4 >Follow US</h4>
          <a name="" id="" class="text-decoration-none m-3 text-center" href="https://www.facebook.com/" ><i class="fab fa-facebook-f" style="font-size: x-large;"></i></a>
          <a name="" id="" class="text-decoration-none m-3 text-center" href="https://twitter.com/login" ><i class="fab fa-twitter" style="font-size: x-large;" ></i></a>
          <a name="" id="" class="text-decoration-none m-3 text-center" href="https://www.instagram.com/accounts/login/?hl=en" ><i class="fab fa-instagram    " style="font-size: x-large;"></i></a>
          <a name="" id="" class="text-decoration-none m-3 text-center" href="https://www.linkedin.com/login" ><i class="fab fa-linkedin" style="font-size: x-large;"></i></a>
        </div>
        <div class="col-12 col-md-4">
          <h4 >Subscribe News letter</h4>
          <div class="container">
            <form >
            <div class="rounded-pill">
              <div class="form-group row">
              
               
                <div class="col-8 p-0">
                  <input type="text" class="form-control rounded-pill" name="inputName" id="inputName" placeholder=" Enter Email">
                </div>
                <div class="col-4 p-0">
                  <button type="submit" class="btn btn-primary ">Send</button>
                </div>
              
            </div>
            </div>  
            </form>
          </div>
        </div>
      </div>
      <hr width="90%" align="center" style=" border: 2px solid rgb(34, 151, 197);">
    
    </footer>
 
  </body>
</html>
