<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="signUp.css">
    <link rel="icon" href="../assets/icon/icon.ico" >
    <title>Student Portal</title>
</head>

<body>
    <div style="background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    ">
        <div class="container ">
            <div class="row rounded ">
                <div class="col-md-6 col-12 mx-auto shadow-lg ">

                    <div class="row h4 justify-content-center text-light p-3 " style="background: #00bf8f;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    ">Student Sign Up </div>

                    <div class="row bg-light">

                        <div class="col-12 mx-auto">
                            <div class="d-flex justify-content-center bg-light flex-column pt-5">
                                <img src="../assets/Imgaes/LogoPIAIC.fb7de414.svg" class="img-fluid " alt="" srcset="">
                                <p class="w-50 text-center align-self-center">Presidential Initiative for Artificial
                                    Intelligence and Computing</p>
                            </div>
                            <div class="container">
                                <form class="text-success " action="../index.html">
                                    <div class="form-group row ">
                                        <label for="inputName" class="col-12 col-form-label" >CNIC</label>

                                        <div class="col-12">
                                            <input type="text" class="form-control" name="Cnic" id="Cnic"
                                                placeholder="ENTER CNIC" required autocomplete="off">
                                                <small
                                                class=" ml-3 d-none  text-danger Cnic">Please type Correct 13 digit CNIC</small>
                                        </div>

                                    </div>
                                    <div class="form-group row ">
                                        <label for="inputName" class="col-12 col-form-label">EMAIL</label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" name="Email" id="Email"
                                                placeholder="ENTER EMAIL" required autocomplete="off">
                                                <small
                                                class=" ml-3 d-none  text-danger Email">Please give valid  Email addrees</small>
        
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label for="inputName" class="col-12 col-form-label">Password</label>
                                        <div class="col-12">
                                            <input type="password" class="form-control" name="Password" id="Password"
                                                placeholder="ENTER Password" required>
                                                <small
                                        class=" ml-3 d-none  text-danger Password">Please give atleast 8 digit password</small>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between text-success pb-5">
                                        <div>
                                            Already a Member?
                                            <a class="text-reset" href="./signIn.html">Sign In</a>
                                        </div>
                                        <div>
                                            <a class="text-reset" href="https://www.piaic.org/howitworks">How it
                                                Works</a>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center text-success pb-5">
                                        <button type="submit" class="btn btn-outline-success badge-pill px-5"
                                            id="submit">Sign up</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="./signUp.js">
    </script>

</body>

</html>